@model Myriad.Models.CreateAll

@{
    ViewBag.Title = "AddToCatalogue";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(document).ready(function () {
            $("#qq").click(function () {
                //alert("AJAX request successfully completed");

                //$("#dvMovie").load('/Movies/CreateMoviesPartialView')
                $.ajax({
                    url: '@Url.Action("CreateMoviesPartialView", "Movies")',//controller name and action
                    type: 'GET',
                    success: function (data) {
                        $("#dvMovie").load('/Movies/CreateMoviesPartialView')
                    }
                    //information for search
                })


            });
            $("body").on('DOMSubtreeModified', 'divProducer', function () {
                alert("Changed");
            });
        });

        function SuccessCallback(data) {
            alert(data);
        }

    </script>
}

<h4>Add To Catalogue</h4>

<input id="qq" type="button" value=" Refresh " />

<div id="dvMovie">
    @Html.Partial("CreateMoviesPartialView", Model.movieModel)
</div>

<table class="table">
    <tr>
        <th>
            @Ajax.ActionLink("Add Actor", "CreateActorPartialView", new AjaxOptions
            {
                HttpMethod = "GET",
                UpdateTargetId = "divActor",
                InsertionMode = InsertionMode.Replace
            })
        </th>
        <th>
            @Ajax.ActionLink("Add Producer", "CreateProducerPartialView", new AjaxOptions
            {
                HttpMethod = "GET",
                UpdateTargetId = "divProducer",
                InsertionMode = InsertionMode.Replace
            })
        </th>
    </tr>
    <tr>
        <td>
            <div id="divActor"></div>
        </td>
        <td>
            <div id="divProducer"></div>
        </td>
    </tr>
</table> 


